body {
    margin: 0;
    font-family: Arial, sans-serif;
}

i {
    color: rgb(255, 0, 0);
}

#container {
    display: grid;
    grid-template-columns: 15% 73% 12%;
    min-height: 100vh;
}

main {
    background-color: rgb(255, 255, 255);
}

#card {
    border: 1px solid #d8d8d8;
    background-color: #d8d8d8;
}

.lembreteCard {
    border: 1px solid #d8d8d8;
    background-color: #d8d8d8;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    align-items: center;
    padding-top: 10px;
    width: 30%;
    height: 120px;
}

.card2 {
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 145px;
    text-align: center;
    background-color: #e6e6e6;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

#cardLink {
    text-decoration: none;
    color: inherit;
}

.card2:hover {
    cursor: pointer;
}

#GPSERS {
    max-width: 70px;
    max-height: 90px;
    border-radius: 20%;
    margin-top: 10px;
}

nav#sidebar-esquerda {
    background-color: #eeeeee;
    padding: 20px;
    border-right: 1px solid #ebebeb;
    position: sticky;
    top: 0;
    height: 100vh;
}

nav#sidebar-esquerda ul {
    margin-top: 20px;
    padding: 5px;
}

nav#sidebar-esquerda li {
    margin-bottom: 20px;
    list-style-type: none;
}

.logo {
    width: 110px;
    height: 120px;
}

nav#sidebar-esquerda li:hover {
    color: rgb(0, 81, 255);
}

nav#sidebar-esquerda a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

nav#sidebar-esquerda h2 {
    text-align: center;
}

nav#sidebar-esquerda a:hover {
    color: rgb(255, 0, 0);
}

#conteudo {
    padding: 20px;
    overflow-y: auto;
}

#sidebar-direita {
    background-color: white;
    padding: 20px;
    border: none;
    position: sticky;
    top: 0;
    height: 100vh;
}

h1, h3, h4 {
    color: #333;
}

h3.colab {
    color: black;
    font-weight: bolder;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

img {
    cursor: pointer;
}

.nome {
    text-align: center;
}

#FACEPE {
    width: 90px;
    height: 70px;
    border-radius: 20%;
    margin-top: 10px;
}

#IFPE {
    max-width: 70px;
    max-height: 90px;
    border-radius: 20%;
    margin-top: 10px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #d6d6d6;
    width: 100%;
    /* padding: 7px 0; */
    box-sizing: border-box;
}

footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.github {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
}

.Linkedin {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
}