p {
    font-size: 18px;
}

button {
    display: flex;
    justify-content: right;
    padding: 9px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.comando {
     white-space: nowrap;
     padding-bottom: 5px;
}

.copiar {
  margin-left: 10px;
}

button {
    border: none;
}

button:hover {
    background-color: rgb(214, 214, 214);
    border-radius: 30%;
    padding: 12px;
    cursor: pointer;
}


#comando-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #eee;
    background-color: #eee;
    padding: 5px 10px;
    min-width: 30%;
    max-width: 65vw;
    box-sizing: border-box;
}