button {
    display: flex;
    justify-content: right;
    padding: 9px;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    display: grid;
    grid-template-columns: 15% 73% 12%;
    min-height: 100vh;
}

nav#sidebar-esquerda img {
    width: 120px;
    height: 127px;
    margin-top: 10px;
}

nav#sidebar-esquerda {
    padding: 20px;
    position: sticky;
    top: 0;
    height: 100vh;
}

nav#sidebar-esquerda ul {
    margin-top: 20px;
    padding: 5px;
}

nav#sidebar-esquerda li {
    margin-bottom: 20px;
    list-style-type: none;
}

nav#sidebar-esquerda li:hover {
    color: rgb(0, 81, 255);
}

nav#sidebar-esquerda a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav#sidebar-esquerda a:hover {
    color: rgb(0, 38, 255);
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.comando {
     white-space: nowrap;
     padding-bottom: 5px;
     font-family: 'Courier New', Courier, monospace;
}

.copiar {
  margin-left: 10px;
}

button {
    border: none;
}

button:hover {
    background-color: rgb(214, 214, 214);
    padding: 9px;
    cursor: pointer;
}

#comando-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 197, 0);
    border: 1px solid #000000;
    background-color: #3f3f3f;
    padding: 1px 20px;
    min-width: 30%;
    max-width: 70vw;
    box-sizing: border-box;
}

#card {
    border: 1px solid #d8d8d8;
    background-color: #e4e4e4;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    max-width: 30%;
    padding: 10px;
    color: rgb(43, 43, 43);
}

#card3 {
    border: 1px solid #d8d8d8;
    background-color: #eee;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    width: 25%;
    padding: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 126, 0);
}

#card4 {
    border: 1px solid #d8d8d8;
    background-color: #eee;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    max-width: 30%;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: green;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #d6d6d6;
    width: 100%;
    /* padding: 7px 0; */
    box-sizing: border-box;
}

footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.github {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
}

.Linkedin {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
}