#container {
    display: grid;
    grid-template-columns: 15% 73% 12%;
    min-height: 100vh;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4 {
    color: #333;
}

.comando {
     white-space: nowrap;
     padding-bottom: 5px;
     font-family: 'Courier New', Courier, monospace;
}

.copiar {
  margin-left: 10px;
}

.Voltar {
    border: none;
    width: 60px;
    height: 50px;
}

button {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #cacaca;
    color: #333;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.Voltar:hover {
    background-color: rgb(170, 170, 170);
    padding: 12px;
    cursor: pointer;
    font-weight: bolder;
}

#comando-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 197, 0);
    border: 1px solid #000000;
    background-color: #3f3f3f;
    padding: 1px 20px;
    min-width: 30%;
    max-width: 65vw;
    box-sizing: border-box;
}

#card4 {
    border: 1px solid #d8d8d8;
    background-color: #eee;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    max-width: 30%;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: green;
}